#
# docker-compose file used ONLY for local development.
# For more info, see:
# https://posthog.com/handbook/engineering/developing-locally

version: '3'

services:
    db:
        image: postgres:12-alpine
        restart: on-failure
        environment:
            POSTGRES_USER: posthog_billing
            POSTGRES_DB: posthog_billing
            POSTGRES_PASSWORD: posthog_billing
        ports:
            - '5433:5432'
    
    app:
        build: .
        environment:
            DEBUG: "true"
            SECRET_KEY: not-so-secret
            SITE_URL: http://localhost:8100
            PGHOST: db
            PGUSER: posthog_billing
            PGPASSWORD: posthog_billing
            PGDATABASE: posthog_billing
            PGPORT: 5432
            REDIS_URL: redis://redis:6379
        command:
            - bash
            - -c
            - |
                python manage.py migrate
                python manage.py runserver 0.0.0.0:8100
        volumes:
            - .:/code
        env_file:
            - .env
        ports:
            - '8100:8100'