@font-face {
    font-family: 'Hind Siliguri';
    src: url('fonts/HindSiliguri-Medium.ttf');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
    font-size: 0.875rem;
    line-height: 1.57;
    font-weight: 400;
    overflow: auto;
    height: 100%;
}

.ant-menu-item-selected {
    color: black !important;
}

h1 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

strong,
b {
    font-weight: 600;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clickable:hover,
.clickable div:hover,
.code-editor:hover textarea {
    cursor: pointer !important;
}

.code-editor textarea {
    line-height: 2 !important;
    font-weight: 100 !important;
}

.code-editor:hover {
    background-color: #ededed;
}

.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:hover {
    color: #1677ff !important;
}

.ant-tabs-ink-bar {
    background: #1677ff !important;
}

.run-async-migration-btn:hover {
    border-color: #64a0f4 !important;
    background: #13a5ff !important;
}

input,
textarea,
button,
select,
.ant-select-selector {
    box-shadow: none !important;
}

.sidebar .ant-layout-sider-children {
    position: fixed;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: initial !important;
}