name: Release Chart

on:
  pull_request:
    paths:
      - charts/**
      - .github/workflows/release-chart.yaml
  push:
    branches:
      - main

jobs:
  release:
    name: Release chart to repo
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.12.2

      - name: Add -<sha> to version in charts/housewatch/Chart.yaml and update Chart.lock
        run: |
          sed -i 's/^version: \(.*\)$/version: \1-${{ github.sha }}/g' charts/housewatch/Chart.yaml
          helm dependency update charts/housewatch/

      - name: Helm login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io -u $ --password-stdin

      - name: Helm package
        run: |
          helm package charts/housewatch

      - name: Helm push
        run: |
          echo helm push housewatch-*.tgz oci://ghcr.io/posthog/housewatch/charts
          helm push housewatch-*.tgz oci://ghcr.io/posthog/housewatch/charts

